<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客管理系统</title>
    <link rel="stylesheet" href="/admin/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/admin/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/admin/assets/nprogress/nprogress.css">
    <link rel="stylesheet" href="/admin/less/index.css">
    <script src="/admin/assets/jquery/jquery.min.js"></script>
    <script src="/admin/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/assets/nprogress/nprogress.js"></script>
    <script src="/admin/libs/common.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>