<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的博客</title>
    <link rel="stylesheet" href="/home/css/normalize.css">
    <link rel="stylesheet" href="/home/css/fonts.css">
    <link rel="stylesheet" href="/home/css/base.css">
    <link rel="stylesheet" href="/home/css/main.css">
    <script src="/home/libs/jquery/jquery.min.js"></script>
    <script src="/home/js/common.js"></script>
</head>
<body>
	{{{body}}}
</body>
</html>