<!-- 头部 -->
<header class="header">
    <div class="wrapper">
        <!-- 导航 -->
        <nav>
            <a href="/home/index">Home</a>
            <a href="/home/about">关于我们</a>
            <a href="/home/join">传智招聘</a>
        </nav>
        <!-- 注册/登录 -->
        <div class="extra">
            <a href="/home/register">注册</a>
            <a href="/home/login">登录</a>
        </div>
    </div>
</header>