<div class="viewport">
    {{> home/header}}
    <!-- 主体 -->
    <div class="body">
        <!-- 注册 -->
        <div class="login">
            <div class="wrapper">
                <div class="contact">
                    <p>有什么问题可以点击下方联系</p>
                    <img src="./images/email.png" alt="">
                </div>
                <form id="registerForm">
                    <ul>
                        <li>
                            <label for="">用户名:</label>
                            <input type="text" name="name">
                        </li>
                        <li>
                            <label for="">邮　箱:</label>
                            <input type="text" name="email">
                        </li>
                        <li>
                            <label for="">密　码:</label>
                            <input type="password" name="pass">
                        </li>
                        <li>
                            <label for=""></label>
                            <input type="submit" value="注 册">
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
    {{> home/footer}}
</div>
<script type="text/javascript">
    // 当表单发生提交行为的时候
    $('#registerForm').on('submit', function (){
        // 获取用户注册的表单信息
        var formData = $(this).serializeToJson();

        // 发送注册请求
        $.ajax({
            type: 'post',
            url: '/home/register',
            data: formData,
            success: function (response) {
                // 如果注册成功 跳转到登录页面
                if (response.success) {
                    location.href = '/home/login';
                }else {
                    // 如果注册失败 弹出失败信息
                    alert(response.message);
                }
            }
        });

        // 阻止表单的默认提交行为
        return false;
    });
</script>
